[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
model-mommy = "*"
rope = "*"
autopep8 = "*"

[packages]
django = "*"
dj-database-url = "*"
pytz = "*"
jsonfield = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
coreapi = "*"
pygments = "*"
channels = "*"
pygal = "*"
pyparallel = "*"
paho-mqtt = "*"
pyfirmata = "*"
channels-redis = "*"
python-decouple = "*"
iso8601 = "*"

[requires]
python_version = "3.7"
