dj-database-url
Django
pytz
python-decouple
jsonfield
djangorestframework
markdown
django-filter
coreapi
pygments
#channels
git+https://github.com/django/channels.git
channels_redis
pygal
pyparallel
paho-mqtt
pyFirmata
iso8601